<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Cordyn potrzebuje dostępu do mikrofonu, aby korzystać z kanałów głosowych i rozmów.</string>
  <key>NSCameraUsageDescription</key>
  <string>Cordyn potrzebuje dostępu do kamery, aby korzystać z rozmów wideo.</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Cordyn może korzystać z urządzeń Bluetooth (słuchawki, głośniki) do rozmów głosowych.</string>
</dict>
</plist>
